@import url('https://rsms.me/inter/inter.css');
html,body { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
  html,body { font-family: 'Inter var', sans-serif !important; }
}
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');

html, body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

nav {
	height: 75px;
	border-bottom: 1px solid #eee;
}

nav h2 {
	display: inline;
	line-height: 75px;
	margin-left: 50px;
}

nav h2 a {
	text-decoration: none !important;
	color: black;
}

nav h2 a:hover {
	color: palevioletred;
}

nav ul {
	margin: 0;
	float: right;
	line-height: 75px;
}

nav li {
	float: left;
	list-style-type: none;
	margin-right: 50px;
}

nav li a {
  text-decoration: none !important;
	color: black;
}

nav li a:hover {
  color: palevioletred;
}

.carousel {
	height: 500px;
}

.carousel img {
	height: 500px;
	object-fit: cover;
}

h1.title {
	font-family: 'Merriweather', serif !important;
}